
html {
	font-size: 14px;
}

body {
	background: #f6f9fc;
	font-family: "Open Sans", sans-serif;
	color: #525f7f;
}

.timeline {
	padding-top: 2em;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	position: relative;
}

.timeline-order1 {
	order: 1;
}

.timeline-order2 {
	order: 2;
}

.timeline__event {
	margin-bottom: 20px;
	position: relative;
	display: flex;
	margin: 20px 0;
	border-radius: 6px;
	align-self: center;
	width: 80vw;
}

.timeline_detailed {
	padding-top: 2em;
	padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 20px auto;
    position: relative;
    height: 100vh;
}

.timeline__event_detailed {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 0;
    border-radius: 6px;
    width: 20vw;
    height: 100%; 
}
.timeline_detailed_left {
	align-self: flex-start; 
}
.timeline_detailed_right {
	align-self: flex-end; 
}

.container-timeline {
	margin: auto;
    display: flex;
    height: 100%;
	width: 95%;
    position: relative;
	overflow-x: hidden;
}

.additional-content-order1 {
	order: 1;
    flex: 1;
}

.additional-content-order2 {
	order: 2;
    flex: 1;
}


.timeline__event:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

.timeline__event__title {
	font-size: 1.2rem;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 600;
	color: #80ba80;
	letter-spacing: 1.5px;
}

.timeline__event__content {
	border: #80ba24 2px;
	padding: 20px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	background: #fff;
	width: calc(65vw - 84px);
	border-radius: 0 6px 6px 0;
}

.timeline_additional_content {
	position: relative;
	margin-top: 3.5em;
	margin-bottom: 3.5em;
	border: #80ba24 2px;
	padding: 20px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	background: #fff;
	min-height: 25em;
	border-radius: 0 6px 6px 0;
}

.timeline__event__date {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 600;
	background: #80ba24;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding: 0 20px;
	border-radius: 6px 0 0 6px;
}

.timeline__event__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #80ba80;
	padding: 20px;
	align-self: center;
	margin: 0 20px;
	background: #80ba24;
	border-radius: 100%;
	width: 40px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	height: 40px;
	position: relative;
}

.timeline__event:last-child .timeline__event__icon:before {
	content: none;
}
.timeline_image {
	height: 100%; 
	max-width: 200px; 
	object-fit: cover;
}

@media (max-width: 786px) {
	.timeline__event {
		flex-direction: column;
		align-self: center;
		display: flex;
	}
	.timeline_image {
		width: 100%; 
		max-height: 40px; 
		max-width: 100%; 
		object-fit: cover;
	}

	.timeline__event__content {
		width: 100%;
	}

	.timeline__event__icon {
		border-radius: 6px 6px 0 0;
		width: 100%;
		margin: 0;
		box-shadow: none;
	}

	.timeline__event__icon:before,
	.timeline__event__icon:after {
		display: none;
	}

	.timeline__event__date {
		border-radius: 0;
		padding: 20px;
	}

	.timeline__event:nth-child(2n + 1) {
		flex-direction: column;
		align-self: center;
	}

	.timeline__event:nth-child(2n + 1) .timeline__event__date {
		border-radius: 0;
		padding: 20px;
	}

	.timeline__event:nth-child(2n + 1) .timeline__event__icon {
		border-radius: 6px 6px 0 0;
		margin: 0;
	}
	
	.timeline__event_detailed {
		width: 100%; 
	}

	.additional-content-order1 {
		order: 1;
		flex: 1;
	}
	
	.additional-content-order2 {
		order: 1;
		flex: 1;
	}
	
	.timeline-order1 {
		order: 1;
	}

	.timeline-order2 {
		order: 1;
	}    
	.container-timeline {
        flex-direction: column; 
    }

    .additional-content {
        display: block; 
    }

	.timeline_additional_content {
		width: 100%;
	}
    .image {
        max-width: 100%; 
    }

    .image,
    .arrow {
        flex: 1; 
        text-align: center;
    }
}

.arrow {
	margin: auto;
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 2em;
    height: 2em;
    border-bottom: 5px solid #80ba24;
    border-right: 5px solid #80ba24;
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow-left {
	transform: rotate(-90deg);
}

.arrow-right {
	transform: rotate(90deg);
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

input[type="range"] {
	accent-color: #80ba24;
  }

  .card__infoicon {
	position: relative;
	font-size: 1.4em;
	color: #000000;
	transition: ease-out 0.3s;
}

.card__infoicon + .card_container {
	opacity: 0;
	z-index: 2;
}

.card__infoicon:hover + .card_container {
  opacity: 1;
  z-index: 2;
}

.card_container {
	background: white;
	position: absolute;
	z-index: 1; 
	left: 5%;
	width: 90%;
	padding: 1em;
	border-radius: 15px;
	transition: top 0.3s ease-in-out;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
	opacity: 0; 
	pointer-events: none; 
}

.card:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.card__description {
	margin-bottom: 0em;
	text-align: center;
}