<main id="app">
  <aside class="business-card">
    <div class="card-inner">
      <div class="card-front">
        <img src="{{ asset('static/assets/img/Visitenkarte.png') }}" alt="Vorderseite der Visitenkarte">
      </div>
      <div class="card-back">
        <img src="{{ asset('static/assets/img/VisitenkarteHinten.png') }}" alt="Rückseite der Visitenkarte">
      </div>
    </div>
  </aside>
</main>