<div class="gallery_test">
{% for image in images %}
    <div class="image_test" onclick="showImage(' {{image}}')">
        <img src="{{image}}" alt="image">
   
    </div>     
{% endfor %}      
</div>
               