<div id="sortAlgorithm" data-selected="insertion">
 <h3 class="section-heading text-uppercase text-secondary">Insertion Sort</h3>
	<div id="sortAlgorithm-options">
		<div id="sortAlgorithm-option" data-value="insertion">Insertion Sort</div>
		<div id="sortAlgorithm-option" data-value="bubble">Bubble Sort</div>
		<div id="sortAlgorithm-option" data-value="selection">Selection Sort</div>
	</div>
</div>

<br>
<label for="arrayElements">Zahlenfolge:</label>
<input type="text" id="arrayElements" name="arrayElements" required placeholder="input number less than 70">
<br>

<button class="btn btn-primary text-uppercase" type="button" id="sortButton">
	Sortieren
</button>
<button id="randomButton" class="btn btn-primary text-uppercase" type="button">Random</button>


<div id="barsContainer">
	<div id="bars"></div>
</div>
