<div class="grid-item">
    <h1 class="mb-4 greenHeadline">
        Log dich ein
    </h1>
    <form id="loginForm" method="POST" action="{{ path('login') }}">
        <input type="email" id="emailInputLogin" placeholder="Email" name="email">
        <br>
        <input type="password" id="passwordInputLogin" placeholder="Passwort" name="password" class="mb-4">
        <br>
        <a id="forgot-pass" onclick="forgot_pass()" href="#">
            Passwort vergessen?
        </a>
        <br>
        <input class="submit-btn" type="submit" id="loginBtn" value="Einloggen" onclick="handleSubmit(event, 'loginForm', '/login', '{{ documentLanguage }}')"/>
    </form>
</div>
